/* MAIN SELECTORS */
html {
	background-color: #010101;
}

/* Makes background resizeable. */
.background {
	position: fixed;
	z-index: -100;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

h1 {
	max-width: 400px;
}

h2 {
	text-align: center;
	font-family: sans-serif;
}


/* Contains title logo and navbar. */
header {
	background-color: #282525;
	position: sticky;
	display: flex;
	align-items: center;
	justify-content: space-between;
	top: 0;
	/* box-shadow: 10px 10px #686060; */
	border-style: none solid solid solid;
	border-color: #686060;
	border-width: 10px;
}

body {
	font-family: sans-serif;
	margin: auto;
	/* max-width: 1280px; */
	width: 95%;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	color: #ffffff;
}

.bigger {
	flex-grow: 3;
}

button {
	color: #ffffff;
	background-color: #e90606;
	transition-duration: 0.4s;
	text-decoration: none;
	border-style: solid solid solid solid;
	border-color: #686060;
	border-width: 3px;

}

button:hover {
	background-color: #5e5757;	
}

footer {
	text-align: center;
	margin-top: auto;
	margin-bottom: 10px;
	width: 100%;
}


/* Windows */
.side-by-side {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-evenly;
	gap: 20px;
	align-items: flex-start;
	margin-top: 20px;
	margin-bottom: 20px;
}

.side-by-side-reverse {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-evenly;
	gap: 20px;
	align-items: baseline;
	margin-top: 20px;
	margin-bottom: 20px;
}



.up-and-down {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-content: stretch;
	gap: 20px;
	margin-top: 20px;
	margin-bottom: 20px;

}

@media (min-width:320px)  { /* smartphones, iPhone, portrait 480x320 phones */ 
}
@media (min-width:481px)  { /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ 
}
@media (min-width:641px)  { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ 
}
@media (min-width:961px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */ 
}
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops (No-Problems)*/ 
}
@media (min-width:1281px) { /* hi-res laptops and desktops */ 

}





.side-by-side-moreLeft {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	gap: 20px;
	align-items: baseline;
	margin-top: 20px;
	margin-bottom: 20px;
}

.flex_column {

}

.stretch_item {
	align-self: stretch;
}


.item {
	border-color: yellow;
	background-color: rgba(0, 0, 0, 0.8);
	border-style: solid;
}

.item:hover {
	border-color: red;
}


/* Marcus' Head Shot */
.marcusHeadShot {
	max-width: 400px;
}

/* Brief paragraph of information (home page ./index.html) */
.brief_para {
	flex-grow: 1;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 15pt;
}

/* Slideshow  */
.slideshow-container {
	display: flex;
	flex-wrap: wrap;
	width: 900px;
	flex-grow: 3;
	z-index: -50;
	justify-content: center;
}
.slides {
	display: none;
}
.slide-image {
	width: 900px;
	height: 500px;
}
.slide-caption {
	padding-left: 10px;
}
.fade {
	animation-name: fade;
	animation-duration: 3.5s;
}
@keyframes fade {
	from {opacity: .0}
	to {opacity: 1}
}

/* Navigation Bar */
.navbar {
	/* background-color: #313236; */
	background-color: #282525;
	border-radius: 2px;
	max-width: 100%;
	text-align: center;
	display: block;
}

/* Small navigation bar */
#navbar-small {
	display: none;	
	font-size: 60pt;
	list-style: none;
	order: -1;
}

#navbar-small > summary {
	list-style: none;
}

details[open]{
	content: "X";
}

.navbar a {
	color: #aaa;
	display: inline-block;
	font-size: 20px;
	padding: 10px;
	text-decoration: none;
}

#navbar-small > a {
	color: #aaa;
	display: block;
	font-size: 30px;
	padding: 10px;
	text-decoration: none;
}

.navbar a:hover, #navbar-small a:hover {
	color: #FF0000;
}

/* MISC */

/* a - links */
a {
	font-family: sans-serif;
	color: #aaa;
	font-size: 20px;
	padding: 10px;
	text-decoration: none;
}

a:hover {
	color: #FF0000;
}


/* contact page */
.contact {
	padding-left: 10px;
	padding-right: 10px;
	line-height: 30px;
	font-size: 20px;
}

.contact dd {
	text-align: right;
}

/* form  */
form {
	padding-left: 10px;
	padding-right: 10px;
	flex: 3;
}

::placeholder {
	color: #eeeeee;
}

input {
	font-size: 20px;
	color: #ffffff;
	background-color: rgba(170, 170, 170, .0);
	border-style: solid solid solid solid;
	border-color: #686060;
	border-width: 3px;

	
}

input[type=button]{
	color: #ffffff;
	background-color: #e90606;
	transition-duration: 0.4s;
	text-decoration: none;
	border: none;
	border-style: solid solid solid solid;
	border-color: #686060;
	border-width: 3px;
}

input[type=button]:hover {
	background-color: #5e5757;
}

input[type=submit]{
	color: #ffffff;
	background-color: #e90606;
	transition-duration: 0.4s;
	text-decoration: none;
	border: none;
	border-style: solid solid solid solid;
	border-color: #686060;
	border-width: 3px;
}

input[type=submit]:hover {
	background-color: #5e5757;
}


textarea {
	font-size: 20px;
	color: #ffffff;
	background-color: rgba(170, 170, 170, .0);
	width: 100%;
	height: 200px;	
	border-style: solid solid solid solid;
	border-color: #686060;
	border-width: 3px;

}


.form {
	font-size: 12pt;
	flex-grow: 100;
}

.form_boxes {
	color: #ffffff;
	background-color: #282525;
	max-width: 100%;
}

.large_button {
	font-size: 20pt;
}

.logo {
	max-width: 120px;
	min-width: 120px;
	padding-top: 10px;
	background-color: #282525;
}

/* text */	
.monospace {
	font-family: monospace;
}

.paragraph {
	padding-left: 10px;
	font-size: 15pt;

}

#title {
	font-size: 35pt;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 0;
	font-weight: 900;
}

.center-text {
	text-align: center;
}

/* table */
.table {
	padding-top: 10px;


}

.table-row {
	justify-content: space-around;
}

.table-items {
	text-align: center;
}

.table-icons {
	margin-bottom: 0;
	font-size: 50pt;
}

.table-text {
	margin-top: 0;
	text-align: center;
	font-size: 35pt;
	
}


.stretch-item {
	align-self: stretch;
}


.item-padding-top-bottom {
	padding-top: 10px;
	padding-bottom: 10px;
}

/* ================= PROJECT PAGE ================= */
.project_left {
	justify-content: center;
	align-items: center;
	flex-grow: 1;

}


/* MEDIA QUERIES */

/* If screen size is smaller than 1571... */
@media (max-width: 1571px) {
	.side-by-side {
		flex-wrap: wrap;
	}	
	.side-by-side-reverse {
		flex-wrap: wrap-reverse;
		
	}



@media (max-width: 1440px) {
	/* MISC */
	/* SLIDE SHOW */
	.slideshow-container {
		align-content: center; 
	}
}


@media (max-width: 904px) {
	.slide-caption footer {
		font-size: 25pt;
	}
	.navbar {
		display: none;
	}
	#navbar-small {
	/* Hamburger menu */
		display: block;		
	}
	h1 {
		display: none;
	}

	header {
		justify-content: space-between;
		padding-left: 10px;
		padding-right: 10px;
		align-items: flex-start;
		overflow: clip;
	}
	.slideshow-container {
		max-width: 500px;
		height: 350px;
	}
	.slide-image {
		max-width: 500px;
		max-height: 400px;
	}

}

@media (max-width: 768px) {
	.slide-image {
		max-height: 300px;
	}
}

/* If screen size is 600px wide, or less set font-size to 25pt */
@media (max-width: 600px) {
	.slide-caption footer {
		font-size: 25pt;
	}
	.navbar {
		display: none;
	}
	#navbar-small {
	/* Hamburger menu */
		display: block;
		
	}
	h1 {
		display: none;
	}

	header {
		justify-content: space-between;
		padding-left: 10px;
		padding-right: 10px;
	}
	.slideshow-container {
		max-width: 400px;
		height: 300px;
	}
	.slide-image {
		max-width: 400px;
		max-height: 300px;
	}

}

@media (max-width: 425px) {
	.video {
		width: 300px;
		height: 150px;
	}
	/* MISC */
	/* SLIDE SHOW */
	.slide-image {
		max-width: 400px;
		max-height: 230px;
	}
}

@media (max-width: 407px) {
	.slide-caption footer {
		font-size: 25pt;
	}
	.navbar {
		display: none;
	}
	#navbar-small {
	/* Hamburger menu */
		display: block;
		
	}
	h1 {
		display: none;
	}

	header {
		justify-content: space-between;
		padding-left: 10px;
		padding-right: 10px;
	}
	.slideshow-container {
		max-width: 300px;
		max-height: 280px;
	}
	.slide-image {
		max-width: 300px;
		max-height: 200px;
	}

	.marcusHeadShot {
		max-width: 200px;
	}

}
